body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #1f3c88;
    color: white;
    padding: 15px;
}

header h1 {
    margin: 0;
    font-size: 1.4rem;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

footer {
    background: #f0f0f0;
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
    margin-top: 20px;
}
/* Logo */
.top-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    width:150px;      /* tu peux augmenter */
    height: auto;
    border-radius: 20px;
}
.illustration {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 30px auto;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.illustration {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 30px auto;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}


